/* Background */
.stApp{
    background:#F5F7FB;
}

/* Main Title */
.main-title{
    font-size:42px;
    font-weight:bold;
    color:#0F172A;
}

.sub-title{
    font-size:18px;
    color:#64748B;
}

/* Cards */

.metric-card{
    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.metric-card:hover{
    transform:translateY(-6px);
}

/* Buttons */

.stButton>button{
    width:100%;
    border-radius:12px;
    height:45px;
    background:#2563EB;
    color:white;
    border:none;
    font-weight:bold;
}

.stButton>button:hover{
    background:#1D4ED8;
}